.news-page-formToLoginOrRegister {
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.news-page-formToLoginOrRegister h3 {
  text-align: center;
  align-self: center;
}

div.news-page,
div.news-page-login-or-register {
  display: flex;
  flex-direction: column;
  grid-column: span 12;
  gap: 0.5rem;
  width: 95%;
  max-width: 800px;
}

div.news-page-login-or-register {
  align-items: center;
  max-width: 150px;
}

button.news-page-buttonWithBorderRadius {
  border-radius: 20px;
  padding: 0.4rem;
  min-width: 6rem;
  font-weight: bold;
}

.news-page-loginButton {
  background-color: rgb(57, 83, 150);
  color: white;
  border: 2px solid rgb(44, 44, 157);
  width: 80%;
  max-width: 150px;
}

.news-page-registerButton {
  background-color: rgb(170, 64, 64);
  color: white;
  border: 2px solid rgb(44, 44, 157);
  width: 80%;
  max-width: 150px;
}
