main.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

form.auth {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.298);
  border: 3px solid rgb(0, 110, 255);
  padding: 1rem;
  margin: 1rem;
}

input.auth.name {
  border: 3px solid rgb(0, 110, 255);
}

form.auth fieldset {
  border: 0;
  margin-bottom: 1rem;
}

form.auth fieldset label {
  display: block;
}

form.auth label.check {
  font-size: 0.75rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}
input#terms {
  margin-right: 0.5rem;
}

form.auth fieldset input {
  width: 100%;
}

form.auth > button {
  align-self: center;

  margin-top: 1rem;
  width: 130px;
  border-radius: 10px;
  background-color: rgb(24, 0, 122);
  border: 3px solid rgb(0, 110, 255);
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

/* DESKTOP */
