li.news-page-comment,
div.news-page-divCommentsBanner {
  border-bottom: 2px solid darkblue;
}

.news-page-comment {
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 1fr auto 0.5fr;
  gap: 0.3rem;
}

.news-page-articleWithUserInformation {
  display: grid;
  grid-template-columns: minmax(30px, 40px) 1fr 0.1fr;
}

.news-page-liOfUserData {
  font-size: 0.8rem;
  list-style: none;
  align-self: end;
}

img.news-page {
  align-self: center;
  justify-self: center;
}

.news-page-comment > article,
.news-page-comment > p {
  font-size: 1rem;
  margin-left: 0.5rem;
}

/* Convertir footer a grid. 
Dejar una celda para see replies y otra para 
responder y compartir.
En la celda de responder y compartir
hacer un flex, con flex wrap y space between */

footer.news-page-footerOfComment {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.news-page-footerOfComment > button,
button.news-page-delete,
button.news-page-edit {
  border-style: none;
  background-color: whitesmoke;
  font-size: 0.8rem;
  color: darkred;
  cursor: pointer;
  margin-right: 0.5rem;
}

button.news-page-inside-new-edit,
button.news-page-inside-new-delete {
  background-color: white;
}

/* Pendiente de hacer que los botones se 
pongan uno encima de otro para que se haga responsive.
Pendiente de poner see replies a la izquierda */

button.replies-button {
  border: 2px solid white;
  width: 5rem;
  border-radius: 25px;
  background-color: darkred;
  color: white;
}

/* CSS of Comment reply */

div.news-page-reply {
  padding-left: 1rem;
}

div.news-page-comment-reply {
  margin-bottom: 0.1rem;
  border-left: 1px solid black;
}
