section.news-page-sectionOfCommentsBanner {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.news-page-buttonOrInputWithBorderRadius {
  border-radius: 10px;
  text-align: center;
  height: 1.7rem;
}

section.news-page-sectionOfCommentsBanner > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

li.news-page-comment,
div.news-page-divCommentsBanner {
  border-bottom: 2px solid darkblue;
}

.news-page-comment {
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 1fr auto 0.5fr;
  gap: 0.3rem;
}

.news-page-articleWithUserInformation {
  display: grid;
  grid-template-columns: minmax(30px, 40px) 1fr 0.1fr;
}

.news-page-liOfUserData {
  font-size: 0.8rem;
  list-style: none;
  align-self: end;
}

img.news-page {
  align-self: center;
}

.news-page-comment > article,
.news-page-comment > p {
  font-size: 1rem;
  margin-left: 0.5rem;
}

footer.news-page-footerOfComment {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.news-page-footerOfComment > button,
button.news-page-delete {
  border-style: none;
  background-color: whitesmoke;
  font-size: 0.8rem;
  color: darkred;
  cursor: pointer;
  margin-right: 0.5rem;
}
