section.news-page-sectionOfCommentsBanner {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.news-page-buttonOrInputWithBorderRadius {
  border-radius: 10px;
  text-align: center;
  height: 1.7rem;
}

section.news-page-sectionOfCommentsBanner > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
