.home-page.error {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.category-page.error {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: red;
}
.submit-page.error {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: red;
}
.result.error {
  width: 100%;
  color: red;
}
.recover-page.error {
  color: red;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0;
}
