.home-page.error {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.category-page.error {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: red;
}
.submit-page.error {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: red;
}
.result.error {
  width: 100%;
  color: red;
}
.recover-page.error {
  color: red;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0;
}
.userauth.error {
  color: red;
  font-size: 0.8rem;
}

.comments-error {
  color: rgb(243, 0, 0);
  background-color: rgb(34, 0, 41);
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
}

.single-news-error {
  margin-top: 10px;
  color: rgb(255, 0, 0);
  background-color: rgb(24, 0, 29);
  border-radius: 5px;
  text-align: center;
  padding: 0.2rem;
  font-size: 1.5rem;
}
