form.submit-page {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 237, 237);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.298);
}

form.submit-page fieldset {
  display: flex;
  flex-direction: column;
}

fieldset.submit-category {
  align-self: flex-start;
  margin: 1rem 0 0.5rem 0.5rem;
  border-radius: 4px;
}
fieldset.submit-category select {
  border-radius: 4px;
}

fieldset.submit-title {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0.3rem;
  border-radius: 4px;
}
fieldset.submit-title span {
  background-color: white;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  padding: 0 0.4rem;
  border-radius: 4px;
}
fieldset.submit-title span:empty::before {
  content: "Title";
  color: gray;
}

form.submit-page fieldset.submit-text {
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
  background-color: white;
  flex-direction: row;
}

fieldset.submit-text div {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-top-right-radius: 2px;
  background-color: rgb(177, 204, 224);
}

fieldset.submit-text div input {
  display: none;
}

fieldset.submit-text div label {
  height: 50px;
  width: 50px;
  background: url("../../public/octopus.png") no-repeat 0px;
  background-size: contain;
  border: 2px solid gray;
}

fieldset.submit-text textarea {
  height: 300px;
  padding: 0.5rem 0.4rem;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-grow: 1;
  resize: none;
  outline: none;
}

fieldset.submit-text textarea::-webkit-input-placeholder {
  text-align: left;
}

fieldset.submit-text textarea:-moz-placeholder {
  text-align: left;
}

form.submit-page > button {
  align-self: flex-end;
  margin-right: 2rem;
  margin-top: 1rem;
  width: 130px;
  border-radius: 10px;
  background-color: rgb(24, 0, 122);
  border: 3px solid rgb(0, 110, 255);
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
