header.front-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  height: 70px;
  background-color: white;
  border-bottom: 3px solid rgb(24, 0, 122);
  z-index: 100;
}

header.front-header > img {
  width: 60px;
}
header.front-header > img:hover {
  cursor: pointer;
}

header.front-header > input {
  padding: 0 0.5rem 0 2.3rem;
  height: 40px;
  width: 55%;
  max-width: 500px;
  border-radius: 20px;
  border: 3px solid rgb(24, 0, 122);
  background: url("/public/svg-icons/search-icon.svg") no-repeat 10px;
  background-size: 20px;
  font-size: 1.2rem;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

button.settings {
  background: none;
  border: none;
  width: 45px;
  border-radius: 10px;
}

button.settings:hover {
  cursor: pointer;
}

button.settings > img {
  margin-top: 0.5rem;
  width: 45px;
  height: 45px;
  border-radius: 20px;
}

header.front-header > nav.dropdown {
  height: 0px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 4.2rem;
  min-width: 120px;
  width: 20%;
  background-color: #f1f1f1;
  border-bottom: 2px solid rgb(24, 0, 122);
  border-left: 3px solid rgb(24, 0, 122);
  border-bottom-left-radius: 20px;
  transition: height 0.5s ease;
}

header.front-header nav.dropdown-content {
  height: 100px;
  background-color: #f1f1f1;
  min-width: 120px;
  width: 20%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.298);
  border-bottom: 2px solid rgb(24, 0, 122);
  border-left: 3px solid rgb(24, 0, 122);
  border-bottom-left-radius: 20px;
}

nav.dropdown > a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  width: 100%;
}

nav.dropdown > button {
  width: 100%;
  border: none;
  display: block;
  text-align: start;
  font-size: 16px;
  padding: 12px 20px;
}

header.front-header nav.dropdown-content hr {
  height: 4px;
  background-color: rgb(24, 0, 122);
}

header.front-header nav.dropdown-content a:hover {
  background-color: #ddd;
}

/* DESKTOP */

header.front-header img.desktop-user-img {
  border-radius: 30px;
  width: 60px;
  height: 60px;
}

nav.desktop-navmenu {
  display: flex;
  gap: 1.5rem;
  font-weight: bold;
}
nav.desktop-navmenu > button {
  background-color: rgb(200, 222, 246);
  border: none;
  font-size: 16px;
  font-weight: bold;
  display: block;
  color: rgb(219, 26, 26);
}

nav.desktop-navmenu > a {
  text-decoration: none;
  color: rgb(24, 0, 122);
}
div.desktop-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 0.5rem;
  background-color: rgb(200, 222, 246);
}

@media (min-width: 1000px) {
  header.front-header > input {
    margin-left: 10rem;
    max-width: 700px;
  }
  header.front-header nav a.register-header {
    padding-left: 0.5rem;
  }
}
