.news-page-formToLoginOrRegister {
  margin-top: 70px;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

div.news-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button.news-page-buttonWithBorderRadius {
  padding: 0.4rem;
}
