
form.FormToLoginOrRegister {
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

div.news-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button.buttonOrInputWithBorderRadius {
  padding: 0.4rem;
}
