section.feed {
    display: flex;
    grid-column: span 12;
    width: 95%;
}


section.feed > ul{
    width: 100%;
}

li.news {
    background-color: rgb(255, 255, 255);
    margin: 1rem 0;
    border-radius: 10px;
    width: 100%;
    list-style: none;

}

.home-page.loading.feed{
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
}
.home-page.error{
    margin-top: 1rem;
    font-size: 1.5rem;
}