li.news > article{
    border-radius: 10px;
}

hr{
    height: 2px;
    background-color: rgb(186, 183, 183);
}

img.img-news {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

p.title-news {
    margin-left: 0.7rem;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -.5px;
    margin-bottom: 0.3rem;
}

p.category-news,
p.author-news,
p.desc-news {
    margin-left: 0.7rem;
}

p.category-news,
p.title-news {
    font-weight: bold;
}

p.category-news, p.desc-news{
    font-size: 12px;
}
p.desc-news {
    line-height: 20px;
    margin-right: 1rem;
}

p.category-news {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 10px;
    padding: 1px;

}

p.author-news {
    font-size: 11px;
}

div.actions-news {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;

}

div.actions-news button:first-child {
    margin-right: auto;
    margin-left: 1rem;
}

div.actions-news button:last-child {
    margin-right: 0.7rem;
}